<div class="container mt-4">
  <h1>Counter App</h1>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <app-counter
            [disableSubs]="disableSubs"
            [disableAdd]="disableAdd"
            [count]="counter1"
            (counterUpd)="handleCounter1Value($event)"
          >
          </app-counter>
        </div>
        <div class="col-12">
          <app-counter
            [disableSubs]="disableSubs"
            [disableAdd]="disableAdd"
            [count]="counter2"
            (counterUpd)="handleCounter2Value($event)"
          >
          </app-counter>
        </div>
      </div>
    </div>
    <div class="col-6 bg-secondary-subtle d-flex justify-content-center align-items-center">
      <h1>{{ result }}</h1>
    </div>
    <div class="col-3 offset-9 mt-4">
      <button class="btn btn-danger w-100" type="button" (click)="resetValues()">Reset</button>
    </div>
  </div>
</div>
